# Ignore ".vscode" folder
.vscode/

# Ignore build foler
build/

# Ignore CMake files
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_install.cmake
